<h1>Listing Feeds</h1>

<table>
  <thead>
    <tr>
      <th>RSS URL</th>
      <th>Updated</th>
      <th>Title</th>
      <th>Body</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for story <- @stories do %>
    <tr>
      <td><%= story.rss_url %></td>
      <td><%= inspect story.updated %></td>
      <td><%= story.title %></td>
      <td><%= raw story.content %></td>
    </tr>
<% end %>
  </tbody>
</table>

